<div class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <ul class="list-inline">
            <li><i class="fa fa-youtube"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <p>Made with <i class="fa fa-heart"></i> by LeWagon</p>
        </div>
      </div>
    </div>
  </div>
</div>
