---
title: Contact
---

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1 class>Notre équipe</h1>
      <div class="row padded">
        <ul class="col-xs-12 list-inline">
          <li>
            <%= image_tag "http://placehold.it/100/100", class: 'img-circle' %>
          </li>
          <li>
            <%= image_tag "http://placehold.it/100/100", class: 'img-circle' %>
          </li>
          <li>
            <%= image_tag "http://placehold.it/100/100", class: 'img-circle' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
